#     _      _   _
#    / \    | | (_)   __ _   ___
#   / _ \   | | | |  / _` | / __|
#  / ___ \  | | | | | (_| | \__ \
# /_/   \_\ |_| |_|  \__,_| |___/

### basic alias ###
alias ls="lsd --group-directories-first"
alias ll="lsd -lh --group-directories-first"
alias lla="lsd -lah --group-directories-first"
alias grep="grep --color=auto"
alias egrep="egrep --color=auto"
alias vim="nvim"
alias cat="bat"
#alias sudo="sudo " # Sudo for aliases

### systemd alias ###
alias arriba="sudo systemctl start"
alias abajo="sudo systemctl stop"
alias estado="sudo systemctl status"

### Functions ###
mkcd () {
    mkdir -p $1
    cd $1
}
gitall() {
	git add . && \
	git commit -m $1 && \
	git push
}
function space() {
    local dir="${1:-.}"  # Si no se proporciona el primer argumento, usa el directorio actual (".")
    local num="${2:-10}"  # Si no se proporciona el segundo argumento, usa 10 como valor predeterminado
    du -hd 1 "$dir" 2>/dev/null | sort -rh | head -n "$num"
}

# Dotfiles alias
alias dotfiles='/usr/bin/git --git-dir="$HOME/.dotfiles/" --work-tree="$HOME"'
